body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  background-image: url("../../Image 1.jpeg");
  background-size: cover;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

h3 {
  font-weight: bold;
}

.price {
  font-weight: bold;
  color: blue;
}


